


/* 1 da lista 4 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    width:  1140px;
    font-family: 'Roboto', sans-serif;
}


h1{
    text-align: center;
    text-size-adjust:44px;
}   


h3{
    color: darkorange;
}


/* 2 da lista  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    width: 1140px;
    font-family: 'Roboto', sans-serif;
}
<br>
h1{
    color: #000;
}


h2{
    text-align: center;
    text-size-adjust:44px;
    color:  #2D8067
}   







